*{
    box-sizing: border-box;
}

.home{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 176, 94);
    color: white;
    padding: 5px;
}
.about{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(58, 21, 127);
    color: white;
    padding: 5px;
}
.contact{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(42, 162, 242);
    color: white;
    padding: 5px;
}
.job{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(2, 66, 96);
    color: white;
    padding: 5px;
}
.error{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(149, 0, 0);
    color: white;
    padding: 5px;
}
.galary{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(29, 180, 190);
    color: white;
    padding: 5px;
}
.nav{
    font-size: 30px;
    width: 100%;
    height: 50px;
    background-color: chartreuse;
}
.nav ul{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;
}
.nav ul li{
    padding: 5px 10px;
    text-decoration: none;
    list-style: none;
    align-items: center;
}
.nav ul li:hover{
    color: white;
}